@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
  font-family: "Poppins";    
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  position: relative;
  background: #fffefe;
  width: 500px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 15px;
}

.vs {
  font-size: 24px;
  margin: 20px 0;
}

.boxer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxer-info {
  flex: 1;
}

.boxer-info h2 {
  margin: 0;
}

.boxer-info p {
  margin-top: 5px;
  font-size: 14px;
}

.form button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(126, 120, 120);
  box-shadow: rgba(68, 67, 67, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #121213;
  color: rgb(204, 191, 191);
}

.form .message {
  margin: 15px 0 0;
  color: #353131;
  font-size: 12px;
}

.form .message a {
  color: #0f0f0f;
  text-decoration: none;
}
