@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
  font-family: "Poppins";    
}
.form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius:15px;
}
.form input {
  border: none;
  color:black;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius:15px;
    background-color:  rgb(255, 254, 254);
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

.form input:focus{
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
  box-shadow: 13px 13px 100px  rgb(49, 46, 46);
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 300ms ease-in-out;
}
.form button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(126, 120, 120);
  box-shadow: rgba(68, 67, 67, 0.05) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}
.form button:hover,.form button:active,.form button:focus {
  background: #121213;
  color: rgb(204, 191, 191);
}
.form .message {
  margin: 15px 0 0;
  color: #353131;
  font-size: 12px;
}
.form .message a {
  color: #0f0f0f;
  text-decoration: none;
}

.container {
  display:inline-block;
}